DocumentManagementSystems/WebContent/wsdl/jdsoftDMS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.dms.jdsoft.in" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.dms.jdsoft.in" xmlns:intf="http://services.dms.jdsoft.in" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.dms.jdsoft.in" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getContent">
    <complexType>
     <sequence>
      <element name="DocumentUuid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getContentResponse">
    <complexType>
     <sequence>
      <element name="getContentReturn" type="xsd:base64Binary"/>
     </sequence>
    </complexType>
   </element>
   <element name="createFolder">
    <complexType>
     <sequence>
      <element name="FolderName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createFolderResponse">
    <complexType/>
   </element>
   <element name="createDocument">
    <complexType>
     <sequence>
      <element name="DocumentName" type="xsd:string"/>
      <element name="FolderCode" type="xsd:string"/>
      <element name="bytes" type="xsd:base64Binary"/>
     </sequence>
    </complexType>
   </element>
   <element name="createDocumentResponse">
    <complexType/>
   </element>
   <element name="renameDocument">
    <complexType>
     <sequence>
      <element name="NewDocumentName" type="xsd:string"/>
      <element name="DocumentUuid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="renameDocumentResponse">
    <complexType/>
   </element>
   <element name="deleteUser">
    <complexType>
     <sequence>
      <element name="UserName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteUserResponse">
    <complexType/>
   </element>
   <element name="cancelCheckIn">
    <complexType>
     <sequence>
      <element name="DocumentUuid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="cancelCheckInResponse">
    <complexType/>
   </element>
   <element name="Restore">
    <complexType>
     <sequence>
      <element name="Version" type="xsd:double"/>
      <element name="DocumentUuid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="RestoreResponse">
    <complexType/>
   </element>
   <element name="copyDocument">
    <complexType>
     <sequence>
      <element name="DocumentUuid" type="xsd:string"/>
      <element name="DestinationFolderCode" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="copyDocumentResponse">
    <complexType/>
   </element>
   <element name="moveDocument">
    <complexType>
     <sequence>
      <element name="DocumentUuid" type="xsd:string"/>
      <element name="DestinationFolderCode" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="moveDocumentResponse">
    <complexType/>
   </element>
   <element name="getUsersList">
    <complexType/>
   </element>
   <element name="getUsersListResponse">
    <complexType>
     <sequence>
      <element name="getUsersListReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="getDocumentsList">
    <complexType/>
   </element>
   <element name="getDocumentsListResponse">
    <complexType>
     <sequence>
      <element name="getDocumentsListReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="getFoldersList">
    <complexType/>
   </element>
   <element name="getFoldersListResponse">
    <complexType>
     <sequence>
      <element name="getFoldersListReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="SearchByPath">
    <complexType>
     <sequence>
      <element name="Path" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="SearchByPathResponse">
    <complexType>
     <sequence>
      <element name="SearchByPathReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="createSubFolder">
    <complexType>
     <sequence>
      <element name="RootFolderCode" type="xsd:string"/>
      <element name="SubFolderName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createSubFolderResponse">
    <complexType/>
   </element>
   <element name="renameFolder">
    <complexType>
     <sequence>
      <element name="OldFolderCode" type="xsd:string"/>
      <element name="NewFolderName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="renameFolderResponse">
    <complexType/>
   </element>
   <element name="checkOut">
    <complexType>
     <sequence>
      <element name="DocumentUuid" type="xsd:string"/>
      <element name="bytes" type="xsd:base64Binary"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkOutResponse">
    <complexType/>
   </element>
   <element name="checkIn">
    <complexType>
     <sequence>
      <element name="DocumentUuid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkInResponse">
    <complexType/>
   </element>
   <element name="deleteFolder">
    <complexType>
     <sequence>
      <element name="FolderCode" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteFolderResponse">
    <complexType/>
   </element>
   <element name="deleteDocument">
    <complexType>
     <sequence>
      <element name="DocumentUuid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteDocumentResponse">
    <complexType/>
   </element>
   <element name="unlockDocument">
    <complexType>
     <sequence>
      <element name="DocumentUuid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="unlockDocumentResponse">
    <complexType/>
   </element>
   <element name="lockDocument">
    <complexType>
     <sequence>
      <element name="DocumentUuid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="lockDocumentResponse">
    <complexType/>
   </element>
   <element name="Search">
    <complexType>
     <sequence>
      <element name="Keyword" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="SearchResponse">
    <complexType>
     <sequence>
      <element name="SearchReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="createUser">
    <complexType>
     <sequence>
      <element name="userName" type="xsd:string"/>
      <element name="userPassword" type="xsd:string"/>
      <element name="userEmail" type="xsd:string"/>
      <element name="userStatus" type="xsd:int"/>
      <element name="userRole" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createUserResponse">
    <complexType/>
   </element>
   <element name="documentAllocation">
    <complexType>
     <sequence>
      <element name="DocumentUuid" type="xsd:string"/>
      <element name="UserId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="documentAllocationResponse">
    <complexType/>
   </element>
   <element name="cancelParticularUserAllocation">
    <complexType>
     <sequence>
      <element name="DocumentUuid" type="xsd:string"/>
      <element name="UserId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="cancelParticularUserAllocationResponse">
    <complexType/>
   </element>
   <element name="cancelAllAllocation">
    <complexType>
     <sequence>
      <element name="DocumentUuid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="cancelAllAllocationResponse">
    <complexType/>
   </element>
   <element name="viewAllocatedDocumentsListByUser">
    <complexType/>
   </element>
   <element name="viewAllocatedDocumentsListByUserResponse">
    <complexType>
     <sequence>
      <element name="viewAllocatedDocumentsListByUserReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewAllocatedDocument">
    <complexType/>
   </element>
   <element name="viewAllocatedDocumentResponse">
    <complexType>
     <sequence>
      <element name="viewAllocatedDocumentReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDocumentsListByUser">
    <complexType/>
   </element>
   <element name="getDocumentsListByUserResponse">
    <complexType>
     <sequence>
      <element name="getDocumentsListByUserReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="getFoldersListByUser">
    <complexType/>
   </element>
   <element name="getFoldersListByUserResponse">
    <complexType>
     <sequence>
      <element name="getFoldersListByUserReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDocumentsByFolder">
    <complexType>
     <sequence>
      <element name="FolderCode" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDocumentsByFolderResponse">
    <complexType>
     <sequence>
      <element name="getDocumentsByFolderReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="checkInRequest">

      <wsdl:part element="impl:checkIn" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createDocumentRequest">

      <wsdl:part element="impl:createDocument" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFoldersListByUserResponse">

      <wsdl:part element="impl:getFoldersListByUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cancelParticularUserAllocationRequest">

      <wsdl:part element="impl:cancelParticularUserAllocation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="documentAllocationRequest">

      <wsdl:part element="impl:documentAllocation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="copyDocumentResponse">

      <wsdl:part element="impl:copyDocumentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="unlockDocumentResponse">

      <wsdl:part element="impl:unlockDocumentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cancelAllAllocationRequest">

      <wsdl:part element="impl:cancelAllAllocation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDocumentsListByUserResponse">

      <wsdl:part element="impl:getDocumentsListByUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cancelParticularUserAllocationResponse">

      <wsdl:part element="impl:cancelParticularUserAllocationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="RestoreRequest">

      <wsdl:part element="impl:Restore" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cancelAllAllocationResponse">

      <wsdl:part element="impl:cancelAllAllocationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDocumentsByFolderRequest">

      <wsdl:part element="impl:getDocumentsByFolder" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="moveDocumentRequest">

      <wsdl:part element="impl:moveDocument" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="renameDocumentRequest">

      <wsdl:part element="impl:renameDocument" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="lockDocumentRequest">

      <wsdl:part element="impl:lockDocument" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createFolderResponse">

      <wsdl:part element="impl:createFolderResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SearchResponse">

      <wsdl:part element="impl:SearchResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDocumentsByFolderResponse">

      <wsdl:part element="impl:getDocumentsByFolderResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getContentResponse">

      <wsdl:part element="impl:getContentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkOutResponse">

      <wsdl:part element="impl:checkOutResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDocumentsListByUserRequest">

      <wsdl:part element="impl:getDocumentsListByUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="documentAllocationResponse">

      <wsdl:part element="impl:documentAllocationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createSubFolderResponse">

      <wsdl:part element="impl:createSubFolderResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteFolderResponse">

      <wsdl:part element="impl:deleteFolderResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteUserRequest">

      <wsdl:part element="impl:deleteUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewAllocatedDocumentResponse">

      <wsdl:part element="impl:viewAllocatedDocumentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="copyDocumentRequest">

      <wsdl:part element="impl:copyDocument" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewAllocatedDocumentsListByUserRequest">

      <wsdl:part element="impl:viewAllocatedDocumentsListByUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDocumentsListRequest">

      <wsdl:part element="impl:getDocumentsList" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createUserRequest">

      <wsdl:part element="impl:createUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteFolderRequest">

      <wsdl:part element="impl:deleteFolder" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFoldersListByUserRequest">

      <wsdl:part element="impl:getFoldersListByUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cancelCheckInResponse">

      <wsdl:part element="impl:cancelCheckInResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createFolderRequest">

      <wsdl:part element="impl:createFolder" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SearchRequest">

      <wsdl:part element="impl:Search" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="unlockDocumentRequest">

      <wsdl:part element="impl:unlockDocument" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewAllocatedDocumentRequest">

      <wsdl:part element="impl:viewAllocatedDocument" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SearchByPathRequest">

      <wsdl:part element="impl:SearchByPath" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createSubFolderRequest">

      <wsdl:part element="impl:createSubFolder" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUsersListRequest">

      <wsdl:part element="impl:getUsersList" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="renameFolderRequest">

      <wsdl:part element="impl:renameFolder" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getContentRequest">

      <wsdl:part element="impl:getContent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewAllocatedDocumentsListByUserResponse">

      <wsdl:part element="impl:viewAllocatedDocumentsListByUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="RestoreResponse">

      <wsdl:part element="impl:RestoreResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="lockDocumentResponse">

      <wsdl:part element="impl:lockDocumentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUsersListResponse">

      <wsdl:part element="impl:getUsersListResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFoldersListRequest">

      <wsdl:part element="impl:getFoldersList" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkOutRequest">

      <wsdl:part element="impl:checkOut" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDocumentsListResponse">

      <wsdl:part element="impl:getDocumentsListResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteDocumentRequest">

      <wsdl:part element="impl:deleteDocument" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createUserResponse">

      <wsdl:part element="impl:createUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="renameFolderResponse">

      <wsdl:part element="impl:renameFolderResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFoldersListResponse">

      <wsdl:part element="impl:getFoldersListResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkInResponse">

      <wsdl:part element="impl:checkInResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cancelCheckInRequest">

      <wsdl:part element="impl:cancelCheckIn" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="renameDocumentResponse">

      <wsdl:part element="impl:renameDocumentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SearchByPathResponse">

      <wsdl:part element="impl:SearchByPathResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteUserResponse">

      <wsdl:part element="impl:deleteUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createDocumentResponse">

      <wsdl:part element="impl:createDocumentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteDocumentResponse">

      <wsdl:part element="impl:deleteDocumentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="moveDocumentResponse">

      <wsdl:part element="impl:moveDocumentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="jdsoftDMS">

      <wsdl:operation name="getContent">

         <wsdl:input message="impl:getContentRequest" name="getContentRequest">

       </wsdl:input>

         <wsdl:output message="impl:getContentResponse" name="getContentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createFolder">

         <wsdl:input message="impl:createFolderRequest" name="createFolderRequest">

       </wsdl:input>

         <wsdl:output message="impl:createFolderResponse" name="createFolderResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createDocument">

         <wsdl:input message="impl:createDocumentRequest" name="createDocumentRequest">

       </wsdl:input>

         <wsdl:output message="impl:createDocumentResponse" name="createDocumentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="renameDocument">

         <wsdl:input message="impl:renameDocumentRequest" name="renameDocumentRequest">

       </wsdl:input>

         <wsdl:output message="impl:renameDocumentResponse" name="renameDocumentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteUser">

         <wsdl:input message="impl:deleteUserRequest" name="deleteUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteUserResponse" name="deleteUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cancelCheckIn">

         <wsdl:input message="impl:cancelCheckInRequest" name="cancelCheckInRequest">

       </wsdl:input>

         <wsdl:output message="impl:cancelCheckInResponse" name="cancelCheckInResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="Restore">

         <wsdl:input message="impl:RestoreRequest" name="RestoreRequest">

       </wsdl:input>

         <wsdl:output message="impl:RestoreResponse" name="RestoreResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="copyDocument">

         <wsdl:input message="impl:copyDocumentRequest" name="copyDocumentRequest">

       </wsdl:input>

         <wsdl:output message="impl:copyDocumentResponse" name="copyDocumentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="moveDocument">

         <wsdl:input message="impl:moveDocumentRequest" name="moveDocumentRequest">

       </wsdl:input>

         <wsdl:output message="impl:moveDocumentResponse" name="moveDocumentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUsersList">

         <wsdl:input message="impl:getUsersListRequest" name="getUsersListRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUsersListResponse" name="getUsersListResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDocumentsList">

         <wsdl:input message="impl:getDocumentsListRequest" name="getDocumentsListRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDocumentsListResponse" name="getDocumentsListResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getFoldersList">

         <wsdl:input message="impl:getFoldersListRequest" name="getFoldersListRequest">

       </wsdl:input>

         <wsdl:output message="impl:getFoldersListResponse" name="getFoldersListResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="SearchByPath">

         <wsdl:input message="impl:SearchByPathRequest" name="SearchByPathRequest">

       </wsdl:input>

         <wsdl:output message="impl:SearchByPathResponse" name="SearchByPathResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createSubFolder">

         <wsdl:input message="impl:createSubFolderRequest" name="createSubFolderRequest">

       </wsdl:input>

         <wsdl:output message="impl:createSubFolderResponse" name="createSubFolderResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="renameFolder">

         <wsdl:input message="impl:renameFolderRequest" name="renameFolderRequest">

       </wsdl:input>

         <wsdl:output message="impl:renameFolderResponse" name="renameFolderResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkOut">

         <wsdl:input message="impl:checkOutRequest" name="checkOutRequest">

       </wsdl:input>

         <wsdl:output message="impl:checkOutResponse" name="checkOutResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkIn">

         <wsdl:input message="impl:checkInRequest" name="checkInRequest">

       </wsdl:input>

         <wsdl:output message="impl:checkInResponse" name="checkInResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteFolder">

         <wsdl:input message="impl:deleteFolderRequest" name="deleteFolderRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteFolderResponse" name="deleteFolderResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteDocument">

         <wsdl:input message="impl:deleteDocumentRequest" name="deleteDocumentRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteDocumentResponse" name="deleteDocumentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="unlockDocument">

         <wsdl:input message="impl:unlockDocumentRequest" name="unlockDocumentRequest">

       </wsdl:input>

         <wsdl:output message="impl:unlockDocumentResponse" name="unlockDocumentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="lockDocument">

         <wsdl:input message="impl:lockDocumentRequest" name="lockDocumentRequest">

       </wsdl:input>

         <wsdl:output message="impl:lockDocumentResponse" name="lockDocumentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="Search">

         <wsdl:input message="impl:SearchRequest" name="SearchRequest">

       </wsdl:input>

         <wsdl:output message="impl:SearchResponse" name="SearchResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createUser">

         <wsdl:input message="impl:createUserRequest" name="createUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:createUserResponse" name="createUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="documentAllocation">

         <wsdl:input message="impl:documentAllocationRequest" name="documentAllocationRequest">

       </wsdl:input>

         <wsdl:output message="impl:documentAllocationResponse" name="documentAllocationResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cancelParticularUserAllocation">

         <wsdl:input message="impl:cancelParticularUserAllocationRequest" name="cancelParticularUserAllocationRequest">

       </wsdl:input>

         <wsdl:output message="impl:cancelParticularUserAllocationResponse" name="cancelParticularUserAllocationResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cancelAllAllocation">

         <wsdl:input message="impl:cancelAllAllocationRequest" name="cancelAllAllocationRequest">

       </wsdl:input>

         <wsdl:output message="impl:cancelAllAllocationResponse" name="cancelAllAllocationResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAllocatedDocumentsListByUser">

         <wsdl:input message="impl:viewAllocatedDocumentsListByUserRequest" name="viewAllocatedDocumentsListByUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:viewAllocatedDocumentsListByUserResponse" name="viewAllocatedDocumentsListByUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAllocatedDocument">

         <wsdl:input message="impl:viewAllocatedDocumentRequest" name="viewAllocatedDocumentRequest">

       </wsdl:input>

         <wsdl:output message="impl:viewAllocatedDocumentResponse" name="viewAllocatedDocumentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDocumentsListByUser">

         <wsdl:input message="impl:getDocumentsListByUserRequest" name="getDocumentsListByUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDocumentsListByUserResponse" name="getDocumentsListByUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getFoldersListByUser">

         <wsdl:input message="impl:getFoldersListByUserRequest" name="getFoldersListByUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:getFoldersListByUserResponse" name="getFoldersListByUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDocumentsByFolder">

         <wsdl:input message="impl:getDocumentsByFolderRequest" name="getDocumentsByFolderRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDocumentsByFolderResponse" name="getDocumentsByFolderResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="jdsoftDMSSoapBinding" type="impl:jdsoftDMS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getContent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getContentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getContentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createFolder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createFolderRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createFolderResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createDocumentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createDocumentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="renameDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="renameDocumentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="renameDocumentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cancelCheckIn">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="cancelCheckInRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="cancelCheckInResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="Restore">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="RestoreRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="RestoreResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="copyDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="copyDocumentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="copyDocumentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="moveDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="moveDocumentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="moveDocumentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUsersList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUsersListRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUsersListResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDocumentsList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDocumentsListRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDocumentsListResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getFoldersList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFoldersListRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getFoldersListResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="SearchByPath">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="SearchByPathRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="SearchByPathResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createSubFolder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createSubFolderRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createSubFolderResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="renameFolder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="renameFolderRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="renameFolderResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkOut">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkOutRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkOutResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkIn">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkInRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkInResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteFolder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteFolderRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteFolderResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteDocumentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteDocumentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="unlockDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="unlockDocumentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="unlockDocumentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="lockDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="lockDocumentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="lockDocumentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="Search">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="SearchRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="SearchResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="documentAllocation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="documentAllocationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="documentAllocationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cancelParticularUserAllocation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="cancelParticularUserAllocationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="cancelParticularUserAllocationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cancelAllAllocation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="cancelAllAllocationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="cancelAllAllocationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAllocatedDocumentsListByUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="viewAllocatedDocumentsListByUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="viewAllocatedDocumentsListByUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAllocatedDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="viewAllocatedDocumentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="viewAllocatedDocumentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDocumentsListByUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDocumentsListByUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDocumentsListByUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getFoldersListByUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFoldersListByUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getFoldersListByUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDocumentsByFolder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDocumentsByFolderRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDocumentsByFolderResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="jdsoftDMSService">

      <wsdl:port binding="impl:jdsoftDMSSoapBinding" name="jdsoftDMS">

         <wsdlsoap:address location="http://localhost:8080/DocumentManagementSystems/services/jdsoftDMS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
